<h1>Links</h1>
<ul id='links'>
  <% @links.each do |link| %>
    <li>
      <!-- Name: <%= link.name if link.tags.name == 'bubbles' %> -->
      Name: <%=  link.tags.name %>
    </li>
    <% end %>
</ul>
