<html>
<form action="/links" method="post">
  <div>
    <label for="title">Title:</label>
    <input type="text" name="title"/>
  </div>
  <div>
    <label for="url">URL:</label>
    <input type="text" name="url"/>
  </div>
  <div>
    <button type="submit" value="Submit">Submit</button>
  </div>
</form>
</html>
