
<h1>Links</h1>
<h2>Welcome <%=session[:email]%></h2>
<ul id='links'>
<% @links.each do |link| %>
  <li>
    ID: <%= link.id %>
    Title: <%= link.title %>
    URL: <%= link.url %>
  </li>
  <% end %>
</ul>
